/* for mobile view */
body{
  width:100%;
  float:none;
  background-color: rgb(212, 204, 195);
}

.details{
  background-color: white;
  margin-top: 30px;
  margin-left:0;
  margin-right:0;
  width:40%;
  height:10%;
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(75, 66, 17);
  padding:60px 60px 0px;
  border-radius: 10px;
  padding-bottom: 40px;
}
p{
  text-align:center;
}

/* for desktop view */
@media (min-width:768px){
  body{
    margin:0;
    background-color: rgb(212, 204, 195);
  }
}
.details{
  background-color: white;
  margin-top: 30px;
  margin-left:25%;
  margin-right:25%;
  width:40%;
  height:10%;
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(75, 66, 17);
  padding:60px 60px 0px;
  border-radius: 10px;
  padding-bottom: 40px;
}
p{
  text-align:center;
}